In [1]:
import sys
LEVEL = '../'
sys.path.append(LEVEL)

In [2]:
# external 

# internal 
from util.load import load_satcat_by_date

In [4]:
df_satcat = load_satcat_by_date(LEVEL+'..', '24May2025')

In [5]:
df_satcat

,INTLDES,NORAD_CAT_ID,OBJECT_TYPE,SATNAME,COUNTRY,LAUNCH,SITE,DECAY,PERIOD,INCLINATION,...,RCSVALUE,RCS_SIZE,FILE,LAUNCH_YEAR,LAUNCH_NUM,LAUNCH_PIECE,CURRENT,OBJECT_NAME,OBJECT_ID,OBJECT_NUMBER
0,1957-001A,1,ROCKET BODY,SL-1 R/B,CIS,1957-10-04,TTMTR,1957-12-01,96.19,65.10,...,0,LARGE,1,1957,1,A,Y,SL-1 R/B,1957-001A,1
1,1958-001A,4,PAYLOAD,EXPLORER 1,US,1958-02-01,AFETR,1970-03-31,88.48,33.15,...,0,NaN,1,1958,1,A,Y,EXPLORER 1,1958-001A,4
2,1958-003A,6,PAYLOAD,EXPLORER 3,US,1958-03-26,AFETR,1958-06-28,103.60,33.50,...,0,NaN,1,1958,3,A,Y,EXPLORER 3,1958-003A,6
3,1958-004A,7,ROCKET BODY,SL-1 R/B,CIS,1958-05-15,TTMTR,1958-12-03,102.74,65.14,...,0,NaN,1,1958,4,A,Y,SL-1 R/B,1958-004A,7
4,1958-004B,8,PAYLOAD,SPUTNIK 3,CIS,1958-05-15,TTMTR,1960-04-06,88.43,65.06,...,0,LARGE,1,1958,4,B,Y,SPUTNIK 3,1958-004B,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64006,2025-108D,64090,UNKNOWN,OBJECT D,PRC,2025-05-21,JSC,NaN,95.17,97.51,...,0,NaN,9138,2025,108,D,Y,OBJECT D,2025-108D,64090
64007,2025-108F,64092,UNKNOWN,OBJECT F,PRC,2025-05-21,JSC,NaN,95.17,97.51,...,0,NaN,9138,2025,108,F,Y,OBJECT F,2025-108F,64092
64008,2025-108G,64093,UNKNOWN,OBJECT G,PRC,2025-05-21,JSC,NaN,93.80,97.46,...,0,NaN,9138,2025,108,G,Y,OBJECT G,2025-108G,64093
64009,2025-097C,64094,ROCKET BODY,TJS-19 AKM,PRC,2025-05-12,XSC,NaN,1456.93,3.99,...,0,NaN,9138,2025,97,C,Y,TJS-19 AKM,2025-097C,64094
64010,2025-109A,64095,PAYLOAD,COSMOS 2588,CIS,2025-05-23,PKMTR,NaN,94.05,72.97,...,0,NaN,9138,2025,109,A,Y,COSMOS 2588,2025-109A,64095