In [1]:
# === Mandatory Header ===
import sys
LEVEL = '../'
sys.path.append(LEVEL)
# =========================

# imports 
from util.load import load_satcat_by_date

## SatCat Breakdown

The Satellite Catalog (SatCat) provides a comprehensive history of every unclassified object that has ever existed in Earth's orbit. This includes objects that have re-entered the atmosphere (splashdowns or burn-ups) or have been retired.

Each entry in the SatCat contains 24 columns of information per object:

<table>
<tbody>
    <tr><th>Field</th><th>Description</th><th>Notes</th></tr>
    <tr><td>INTLDES</td><td>Can be used to uniquely identify an object using launch year, number, and piece</td><td>Also known as COSPAR designation or NSSDC ID</td></tr>
    <tr><td>NORAD_CAT_ID</td><td>Sequential number assigned by the US Space Force as objects are cataloged</td><td>This is the most common way of identifying a satellite</td></tr>
    <tr><td>OBJECT_TYPE</td><td>Identifies the kind of object it is</td><td>Choices: 'ROCKET BODY', 'PAYLOAD', 'DEBRIS', 'UNKNOWN'</td></tr>
    <tr><td>SATNAME</td><td>Name associated with the satellite</td><td></td></tr>
    <tr><td>COUNTRY</td><td>The nation or group responsible for the object</td><td></td></tr>
    <tr><td>LAUNCH</td><td>Date of launch</td><td>Format: YYYY-MM-DD</td></tr>
    <tr><td>SITE</td><td>Location/site of launch</td><td></td></tr>
    <tr><td>DECAY</td><td>Date that the object decayed; NaN if the object has not yet decayed</td><td></td></tr>
    <tr><td>PERIOD</td><td>The number of minutes an object takes to complete one full orbit</td><td>Generally wise to use the most recent state for this information</td></tr>
    <tr><td>INCLINATION</td><td>The angle between the equator and the orbital plane</td><td>Generally wise to use the most recent state for this information</td></tr>
    <tr><td>APOGEE</td><td>Point in the orbit where an Earth satellite is farthest from the Earth (kilometers)</td><td>Generally wise to use the most recent state for this information</td></tr>
    <tr><td>PERIGEE</td><td>Point in the orbit where an Earth satellite is closest to the Earth (kilometers)</td><td>Generally wise to use the most recent state for this information</td></tr>
    <tr><td>COMMENT</td><td>Very rare; sometimes objects have a string with notes</td><td></td></tr>
    <tr><td>COMMENTCODE</td><td>Usually NaN; otherwise a number associated with COMMENT</td><td></td></tr>
    <tr><td>RCSVALUE</td><td>(HIDDEN) Always zero</td><td>Higher data access needed to get exact values</td></tr>
    <tr><td>RCS_SIZE</td><td>Vague description of object size</td><td>Values: 'LARGE', 'MEDIUM', 'SMALL', or NaN</td></tr>
    <tr><td>FILE</td><td>Unique identifying number of the source file for an object's data; higher numbers are more recent uploads</td><td></td></tr>
    <tr><td>LAUNCH_YEAR</td><td>Year of launch (YYYY)</td><td></td></tr>
    <tr><td>LAUNCH_NUM</td><td>Launch number</td><td></td></tr>
    <tr><td>LAUNCH_PIECE</td><td>Three-letter code representing the sequential identifier of a piece in a launch</td><td></td></tr>
    <tr><td>CURRENT</td><td>Documentation is unclear, but the value is always 'Y' for general access</td><td></td></tr>
    <tr><td>OBJECT_NAME</td><td>Name of the object</td><td>identical to SATNAME</td></tr>
    <tr><td>OBJECT_ID</td><td>Unique identifier for the object</td><td>identical to INTLDES</td></tr>
    <tr><td>OBJECT_NUMBER</td><td>Unique identifier for the object</td><td>identical to NORAD_CAT_ID</td></tr>
</tbody>
</table>

### 1. Load Data

In [33]:
df_satcat = load_satcat_by_date(LEVEL+'..', '24May2025')

### 2. High Level Look

In [37]:
df_satcat.head(3)

,INTLDES,NORAD_CAT_ID,OBJECT_TYPE,SATNAME,COUNTRY,LAUNCH,SITE,DECAY,PERIOD,INCLINATION,...,RCSVALUE,RCS_SIZE,FILE,LAUNCH_YEAR,LAUNCH_NUM,LAUNCH_PIECE,CURRENT,OBJECT_NAME,OBJECT_ID,OBJECT_NUMBER
0,1957-001A,1,ROCKET BODY,SL-1 R/B,CIS,1957-10-04,TTMTR,1957-12-01,96.19,65.10,...,0,LARGE,1,1957,1,A,Y,SL-1 R/B,1957-001A,1
1,1958-001A,4,PAYLOAD,EXPLORER 1,US,1958-02-01,AFETR,1970-03-31,88.48,33.15,...,0,NaN,1,1958,1,A,Y,EXPLORER 1,1958-001A,4
2,1958-003A,6,PAYLOAD,EXPLORER 3,US,1958-03-26,AFETR,1958-06-28,103.60,33.50,...,0,NaN,1,1958,3,A,Y,EXPLORER 3,1958-003A,6

In [38]:
print('total objects in catalog: ',df_satcat.shape[0])

total objects in catalog:  64011

In [ ]:
df_satcat.describe()

,NORAD_CAT_ID,PERIOD,INCLINATION,APOGEE,PERIGEE,COMMENTCODE,RCSVALUE,FILE,LAUNCH_YEAR,LAUNCH_NUM,OBJECT_NUMBER
count,64011.000000,63037.000000,63037.000000,63037.000000,63037.000000,3517.000000,64011.0,64011.000000,64011.000000,64011.000000,64011.000000
mean,32015.650919,178.180192,68.902649,3550.205752,1743.955106,3.291157,0.0,7142.294449,1996.827217,59.018200,32015.650919
std,18492.265470,690.084959,25.061502,13831.789472,6734.843480,1.409969,0.0,3242.574651,19.517696,42.904259,18492.265470
min,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.0,1.000000,1957.000000,0.000000,1.000000
25%,16003.500000,89.260000,53.000000,267.000000,196.000000,3.000000,0.0,7337.000000,1981.000000,25.000000,16003.500000
50%,32006.000000,94.110000,70.190000,484.000000,409.000000,3.000000,0.0,8690.000000,1995.000000,51.000000,32006.000000
75%,48008.500000,101.140000,92.000000,878.000000,672.000000,5.000000,0.0,9134.000000,2019.000000,84.000000,48008.500000
max,64095.000000,95687.680000,152.520000,641287.000000,299435.000000,5.000000,0.0,9138.000000,2025.000000,254.000000,64095.000000